@font-face {
  font-family: 'Gilroy';
  src: url('/src/public/fonts/Gilroy-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/public/fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/public/fonts/Gilroy-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
