@import "public/fonts/fonts";
@import "./variables";

html,
body,
ul,
ol,
p,
h6,
h5,
h4,
h3,
h2,
h1,
{
  margin: 0;
  padding: 0;
}

.text-test {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  color: $black;
}
